.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.button-left {
  width: 300px;
  height: 50px;
  margin-top: 15px;
  border-radius: 20px;
  padding: 10px;
}

.button-right {
  width: 300px;
  height: 50px;
  margin-top: 15px;
  border-radius: 20px;
  /* display: flex;
  flex-direction: row; */
}
.container {
  display: flex;
  flex-direction: column;
  background-color: #86b1f0;
  color: aliceblue;
  align-items: center;
  align-self: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  padding: 50px 50px;
  width: max-content;
}
.label-black {
  color: black;
}
.login .h2 {
  color: black;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
}

.login input {
  width: 300px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
  border-radius: 20px;
}

.login button {
  width: 300px;
  height: 50px;
  margin-top: 15px;
  border-radius: 20px;
}

.login button:hover {
  cursor: pointer;
}

.homepage {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.homepage input {
  width: 300px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
  border-radius: 20px;
}

.homepage button {
  width: 300px;
  height: 50px;
  margin-top: 15px;
  border-radius: 20px;
}

.homepage button:hover {
  cursor: pointer;
}

.homepage_search {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.homepage_search input {
  width: 300px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 15px;
}

.homepage_search button {
  width: 300px;
  height: 50px;
  margin: 15px;
}

.homepage_search button:hover {
  cursor: pointer;
}
